*{
  font-family: 'Roboto', sans-serif;
  margin:0; padding:0;
  box-sizing: border-box;
  outline: none; border: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: all .1s linear;
  line-height:1.5;
  color: white;
}

.border {
  color: #4aae71 !important;
}

body {
  background-color: #1B1A17;
}

h1 {
  font-size: 2rem;
}

nav {
  background-color: #383638 !important;
  border-style: ridge;
  border-width: thin;
  border-left: none;
  border-right: none;
  border-color: #555355;
}


/* Size for brand */
nav .navbar-brand
{
    font-size: xx-large;
}

/* Colors for brand */
nav .navbar-brand .blue
{
    color: #537fbe;
}
nav .navbar-brand .red
{
    color: #ea433b;
}

.navbar-top {
  background-color: #383638;
  border: 3px;
}


.menu:hover {
    transform: rotate(2deg);
    padding: 0.2rem 1.2rem;
    border-radius: 20% 5% 20% 5%/5% 20% 25% 20%;
    background-color: #3d96df;
    font-size: 1rem;
}

.menu-logout:hover {
    transform: rotate(2deg);
    padding: 0.2rem 1.2rem;
    border-radius: 20% 5% 20% 5%/5% 20% 25% 20%;
    background-color: #df3d4b;
    font-size: 1rem;
}

.padding-0 {
  padding-left: 0;
  padding-right: 0;
}

.timer {
  margin-top: 4rem;
  margin-bottom: 7rem;
}

.timer_time {
  display: inline-block;
  border-style: ridge;
  border-color: #ccc9ca;
  border-width: thin;
  margin: 1rem;
}

.timer__part {
  font-size: 2rem;
  margin-left: 2px;
}

.timer__btn--reset span{
  background-color: #FF8C00;
}

.timer__btn--reset span:hover{
  background-color: #FFA500;
}

.timer__btn--start span{
  background-color: #4aae71;
}

.timer__btn--start span:hover{
  background-color: #5dad7c;
}

.timer__btn--stop span{
  background-color: #EF6262;
}

.timer__btn--stop span:hover{
  background-color: #f07a7a;
}

button.last:hover {
    background-color: #3d96df;
}
button {
    padding: 0;
    border: none;
    font-family: "Architects Daughter", cursive;
    text-decoration: none;
    padding-bottom: 3px;
    border-radius: 5px;
    background-color: #1B1A17;
  }
  button span {
    background: #f1f5f8;
    display: block;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    border: 2px solid hsl(198, 1%, 29%);
    color: #1B1A17;
  }

  button span:hover {
    background: #3d96df;
  }
  
  button.last {
    background-color: #ccc9ca;
  }

  .todo_items {
    text-align: center;
    display: flex;
  }

  li {
    list-style-type: none;
    text-align: left;
    position: relative;
    padding: 0.5rem;
  }

  input[type=number] {
    max-width: 100px;
    background-color: #1B1A17;
  }

  .label {
    display: inline-block;
    font-size: 1.5rem;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    margin-bottom: 0;
  }

  .form input {
    box-sizing: border-box;
    background-color: transparent;
    padding: 0.7rem;
    border-bottom-right-radius: 15px 3px;
    border-bottom-left-radius: 3px 15px;
    border: solid 3px transparent;
    border-bottom: dashed 3px #ff96ad;
    font-family: "Architects Daughter", cursive;
    font-size: 1rem;
    color: hsla(260, 2%, 25%, 0.7);
    width: 70%;
    margin-bottom: 20px;
  }

  #todo-list-section {
    margin-top: 3rem;
    display: inline-block;
    width: 100%;
    height: auto;
    min-height: 500px;
    max-width: 500px;
    min-width: 250px;
    background: #383638;
    background-size: 25px 25px;
    border-radius: 20px;
    box-shadow: 4px 3px 7px 2px #00000040;
    padding: 1rem;
    box-sizing: border-box;
  }

  .heading {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
  }
  .heading h1 {
    transform: rotate(2deg);
    padding: 0.2rem 1.2rem;
    border-radius: 20% 5% 20% 5%/5% 20% 25% 20%;
    background-color: #3d96df;
    font-size: 1.5rem;
  }
  
.todo_items {
  color: rgb(69, 85, 177);
  box-sizing: border-box;
  background: #e6e8e9;
  background-size: 25px 25px;
  box-shadow: 4px 3px 7px 2px #00000040;
  margin-bottom: 0.5rem;
  font-family: "Architects Daughter", cursive;
}

.items {
  color: #1B1A17;
}

table {
  background-color: transparent;
  margin-bottom: 1rem;
  width: 100%;
}

table th,
table td {
  padding: 0.75rem;
  vertical-align: middle;
}

tbody tr:nth-of-type(odd) {
  background-color: rgba(186, 199, 198, 0.3)
}

.prayer-section {
  display: inline-block;
}

#audio {
  display: none;
}


@media (max-width:800px) {

  html{
      font-size: 55%;
  }

  body{
      padding: 0;
  }

  #todo-list-section {
    min-height: 300px;
    max-width: 300px;
    min-width: 100px;
  }

  input[type=number] {
    max-width: 100px;
  }
  
}



